body{
    display:flex;
    flex-direction: column;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/153430966/vector/seamless-background-with-dollar-signs.jpg?s=612x612&w=0&k=20&c=bDk0mQRZjqnyV-BCpn_BbJHL51KVG7uRTeq0GO8ZrjE=');
    margin: 0;
}
#Name{
    order:0;
    font-family: 'Nosifer', cursive;
    font-size: 50px;
    justify-items: center;
    align-items: flex-start;
    text-align: center;
    animation-name: titlecolors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}  
@keyframes titlecolors{
    25%{color:black;}
    50% {color:red;}
    75%{color:red;}
    100%{color:black;}
}

#helpButton{
    position: relative;
    width: 6rem;
    height: 3rem;
    border-radius:5px;
    font-size: 2rem;
    outline: none;
    border: none;
    background-color: white;
}

#helpModalBackground{
    display: none;
    position: absolute;
    z-index: 100;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    width: 100vw;
    height: 100vh;
}

.modalContent{
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    box-sizing: border-box;
    border: solid black;
    border-radius:10px;
    background-color: gray;
    width: 50%;
    height: 60%;
    font-size: 2rem;
    overflow-y: auto;
}
.content{
    margin: 0;
}

.closeModalButton{
    display: flex;
    position: absolute;
    justify-content: center;
    border: solid black;
    padding: 4px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    color: white;
    top: 22%;
    right: 26%;
    left: 71.3%;
}
.main{
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
}

#allslots{
    order:1;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 75%;
} 
 
#slot1{
    order:1;
}
#slot2{
    order:2;
}
#slot3{
    order:3;
}

.drum{
    border: solid black;
    border-radius: 70px;
    background-color: rgba(211, 211, 211, 0.811);
    background-image:linear-gradient(to bottom ,white ,rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,1));
    height: 90%;
    width: 20%;
    padding: 10px;
    margin: 20px;   
    font-family: 'Lexend Exa', sans-serif;
    font-size: 12rem;
    text-align: center;
}

#IO{
    order:4;
    position:relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 14%; 
    height: 55%;  
    bottom: 8%; 
}

#displayed{ 
    order: 1;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    box-sizing: border-box  ;
    margin: 1%;
}

.IOContainer{
    order: 2;
    display:flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.ioButtons{
    font-family: 'Lexend Exa', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;  
    /* position: relative; */
    border-radius: 30px;
    transition-duration:.2s;
    height: 30%;
    width: 90%;
    font-size: 2rem;
    margin: 0;
}

        #stopButton{
        order:1;
        display: none; 
        font-size: 2rem;
        background-color: white;
        color: black;
        border: solid red;
        transition-duration: .2;
        }
        #stopButton:hover{
        background-color: red;
        color: white;
        border: solid white;
        border-radius: 10px;
        }
        #resetButton{
        order:2;
        background-color: white;
        border:solid darkgray;
        color:black;
        background-color: white;
        }
        #resetButton:hover{
            background-color: darkgrey;
            color:white;
            border:solid white;
            border-radius: 10px;
        }

        #spinButton{
            order:1;
            background-color: white;
            border:solid darkseagreen;
            transition-duration: .2;
        }
        #spinButton:hover{
            color:white;
            border:solid white;
            background-color: darkseagreen;
            border-radius: 10px;
        }
        
#drumStopButtons{
    order:4;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    border:solid black;
    justify-content: space-between;
    padding-right: 500px;
    }
.drum{
    display:flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 200px) and (max-width: 600px){

    #helpButton{
        position: fixed;
        font-size: 1rem;
        height:1.2rem;
        width: 2.5rem;
    }

    #Name{
        font-size: 2rem;
    }  
    
    .closeModalButton{
        top:11%;
        left: 85%;
        width:1.5rem;
    }
    
    .modalContent{
        height: 80%;
        width:100%;        
    }

    #allslots{
        position: relative;
        width: 95%;
        height:40%;
        box-sizing: border-box;
    }

    .main{
        display:flex;
        flex-flow: column nowrap;
        height: 90%;
        width: 100%;
        justify-content: space-between;
        margin: 5% 0%;
    }
    .drum{
        font-size: 4rem;
        width: 30%;
        height: 90%;
        margin: 0% 3.5%;
    }

    #IO{
        position: relative;
        justify-content: space-around;
        align-items: center;
        height:50%;
        width: 100%;
        top:3%;
    }

    #displayed{
        font-size: 2rem;
    }
    .IOContainer{
        justify-content: space-around;
        width: 95%;
        height: 80%;
        margin: 0;
    }

    .ioButtons{
        width: 95%;
    }
}

@media(min-width: 601px) and (max-width: 900px){

    #helpButton{
        position: fixed;
        font-size: 2rem;
        height:2.2rem;
        width: 4.5rem;
        box-sizing: border-box;
        padding: 2px;
    }

    #Name{
        font-size: 3rem;
    }  
    
    .closeModalButton{
        top:11%;
        left: 85%;
        width:1.5rem;
    }
    
    .modalContent{
        height: 80%;
        width:100%;        
    }

    #allslots{
        position: relative;
        width: 95%;
        height:50%;
        box-sizing: border-box;
    }

    .main{
        display:flex;
        flex-flow: column nowrap;
        height: 90%;
        width: 100%;
        justify-content: space-between;
        margin: 5% 0%;
    }
    .drum{
        font-size: 6rem;
        width: 30%;
        height: 90%;
        margin: 0% 3.5%;
    }

    #IO{
        position: relative;
        justify-content: space-around;
        align-items: center;
        height:50%;
        width: 100%;
        top:3%;
    }

    #displayed{
        font-size: 3rem;
    }
    .IOContainer{
        justify-content: space-around;
        width: 95%;
        height: 80%;
        margin: 0;
    }

    .ioButtons{
        width: 95%;
    }
}

@media(min-width: 901px) and (max-width: 1600px){

    #helpButton{
        position: fixed;
        font-size: 2rem;
        height: 3rem;
        width: 5.5rem;
        box-sizing: border-box;
        padding: 3px;
    }

    #Name{
        font-size: 4rem;
    }  
    
    .closeModalButton{
        top:11%;
        left: 85%;
        width:1.5rem;
    }
    
    .modalContent{
        height: 80%;
        width:50%;        
    }

    .main{
        display:flex;
        flex-flow: row nowrap;
        height: 90%;
        width: 100%;
        justify-content: space-between;
        /* margin: 5% 0%; */
    }

    #allslots{
        position: relative;
        width: 75%;
        height:50%;
        box-sizing: border-box;
    }

    .drum{
        font-size: 7rem;
        width: 30%;
        height: 100%;
        margin: 0% 3.5%;
    }

    #IO{
        position: relative;
        justify-content: space-around;
        align-items: center;
        height:40%;
        width: 23%;
        top: 2%;
    }

    #displayed{
        font-size: 2rem;
    }

    .IOContainer{
        justify-content: space-around;
        width: 95%;
        height: 50%;
        margin: 0;
    }

    .ioButtons{
        width: 75%;
        height: 40%
    }
}